
    <div>
        <h1>About</h1>
        <div class="container">
            <h3>
                 Work Experience
            </h3>
            <ul>
                    {{#each experience}}
                    <li>
                        <h4>{{company}}, {{jobTitle}}</h4>
                        <p>{{description}}</p>
                    </li>
                    {{/each}}
                 </ul>
        </div>
        <br>
        <div class="container">
            <h3>
                Education
            </h3>
                 <ul>
                    {{#each education}}
                    <li>
                        <h4>{{school}}, {{description}}</h4>
                        <p>{{degree}}</p>
                    </li>
                    {{/each}}
                 </ul>
        </div>
        <br>
        <div class="container">
                <h3>Computer Skills</h3>
                <ul>
                    <li>C++</li>
                    <li>SQL</li>
                    <li>Database System</li>
                    <li>HTML</li>
                    <li>Javascript</li>
                    <li>Object Oriente Programming</li>
                    <li>Python</li>
                </ul>
        </div>
    </div>
