<h1 style="margin: 20px;">My Projects</h1>
<div class="containerProject">
<div class="flexContainer">
    {{#each projects}}
    <div class="boxProject" style="margin: 20px;">
        <h3>{{projectTitle}}</h3>
        <p> {{projectDesc}} </p>
        <div class="tabContainer">
            <a href="/project-more/{{projectID}}" class="tabButtonProject">Read More</a>
        </div>
        {{#if (check this)}}
        <div class="k">
            <form action="/buttonProject" method="post">
                <button class="tabButtonCRUDU" type="submit" name="up" value="{{projectID}}">
                    Update
                </button>
                <button class="tabButtonCRUDU" type="submit" name="del" value="{{projectID}}" class="tabButtonCRUD">
                    Delete
                </button>
            </form>
        </div>
        {{/if}}
    </div>
    {{/each}}

</div>
</div>

{{#if isAdmin}}
<div class="boxProject" style="margin: 20px;">
    <div class="boxProject2" style="margin: 20px;">
        <div class="form">
            <form action="/createPro" method="post">

                <label for="fname"> Title:</label> <br>
                <input type="text" name="title"> <br><br>
                <label for="fname">Info: </label> <br>
                <textarea type="text-area" rows="3" name="info"></textarea> <br><br>
                <label for="fname">Description:</label> <br>
                <textarea type="text-area" rows="5" name="desc"></textarea> <br><br>
                <button class="tabButtonCRUDU" type="submit" style="color: black;">
                    Submit New Project
                </button>

            </form>
        </div>
    </div>
</div>
{{/if}}